body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}
/* Full-width input fields */
/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/
h2{
    color:red;
}
p{
    color:blue;
}

/* Set a style for all buttons */
/*#button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}*/


.container {
    padding: 16px;
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#button:hover {
    opacity: 0.8;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
 h3 {
        margin-left: 30%;
        margin-top: 0;
    }
    /*#movies{
    margin-left: 40%;
}*/
    
    .movieapp {
        margin-left: 30%;
    }
    
    .back {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF5MVRfXGcpb9c06WKOnTlqhn9vDftWnIfb1FLsrDv__n9o1KHCQ");
        background-repeat: no-repeat;
        background-size: cover;
    }